In [10]:
import pandas
filename ='usa.csv'
filename
data1 = pandas.read_csv(filename,header=0)
print(data1.shape)
data1.head()

(12, 2)

   Year       PIB
0  1990  0.741486
1  2000  2.975209
2  2011  0.815453
3  2012  1.502188
4  2013  1.138897

In [14]:
import pandas as pd
filename2 ='desempleo1.csv'
data2 = pd.read_csv(filename2,header=0)
print(data2.shape)
data2.head(5)

(30, 2)

   year  tasa_des
0  1991      6.80
1  1992      7.50
2  1993      6.90
3  1994      6.12
4  1995      5.65

In [16]:
data3=data2
data3 [data2.tasa_des> 8.5]

    year  tasa_des
18  2009      9.25
19  2010      9.63
20  2011      8.95